/*
    contenedor para codigo que sea del tamaño de la pantalla y que no se desborde
*/
code{
    display: block;
    inline-size: 90vw;
    overflow-x: auto;
    white-space: pre;
    padding-top: 2vh;
    padding-bottom: 2vh;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 1em 0;
}